@using BussinessObject.Models
@using DataAccess.Dto
@{
    Layout = null;
    var activeTab = ViewBag.ActiveTab ?? "show";
    var staffUser = ViewBag.StaffUser as User;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Staff Page</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/assets/favicon.png">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap"
          rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!-- Template Stylesheet -->
    <link href="/css/style-admin.css" rel="stylesheet">
</head>

<body>
    <!-- Sidebar Start -->
    <div class="sidebar pe-4 pb-3">
        <nav class="navbar bg-secondary navbar-dark">
            <!-- Hiển thị thông tin StaffUser -->
            @if (staffUser != null)
            {
                <div class="d-flex align-items-center ms-4 mb-4">
                    <div class="position-relative">
                        <img class="rounded-circle" src="@staffUser.AvatarUrl" alt="" style="width: 40px; height: 40px;">
                        <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1">
                        </div>
                    </div>
                    <div class="ms-3">
                        <h6 class="mb-0">@staffUser.Name</h6>
                        <span>Staff</span>
                    </div>
                </div>
            }
            <div class="navbar-nav w-100 nav">
                <a href="#" class="nav-item nav-link active" data-bs-toggle="tab" data-bs-target="#show">
                    <i class="fa fa-list me-2"></i>
                    Show
                </a>
                <a href="#" class="nav-item nav-link" data-bs-toggle="tab" data-bs-target="#ticket">
                    <i class="fa fa-film me-2"></i>
                    Ticket
                </a>
                <a href="/" class="nav-item nav-link">
                    <i class="fa fa-arrow-circle-left me-2"></i>
                    Back
                </a>
            </div>
        </nav>
    </div>
    <!-- Content Start -->
    <div class="content">
        <div class="tab-content">
            <!-- Show Tab -->
            <div class="tab-pane fade show active" id="show">
                <div class="container p-3">
                    <h6 class="mb-4">List Show</h6>
                    <table class="table table-striped table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Film Name</th>
                                <th scope="col">Start Time</th>
                                <th scope="col">End Time</th>
                                <th scope="col">Price</th>
                                <th scope="col">Room</th>
                                <th scope="col" style="width: 160px;">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var show in ViewBag.Shows)
                            {
                                <tr>
                                    <td>
                                        <p>@show.Film</p>
                                    </td>
                                    <td>
                                        <p>@show.Start</p>
                                    </td>
                                    <td>
                                        <p>@show.End</p>
                                    </td>
                                    <td>
                                        <p>@show.Price</p>
                                    </td>
                                    <td>
                                        <p>@show.Room</p>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-outline-success check-show" data-show-id="@show.Id">
                                            <i class="fa fa-check"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <script>
                    document.addEventListener('DOMContentLoaded', (event) => {
                        $(".check-show").on("click", function () {
                            var showId = $(this).data("show-id");
                            $("#ShowId").val(showId);
                        });
                    });
                </script>
            </div>

            <!-- Ticket Tab -->
            <div class="tab-pane fade" id="ticket">
                <div class="container p-3">
                    @if (ViewBag.ErrorMessage != null)
                    {
                        <div class="alert alert-danger alert-dismissible fade show">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong>@ViewBag.ErrorMessage</strong>
                        </div>
                    }
                    <form class="bg-secondary rounded h-100 p-4" asp-action="Check" asp-controller="Staff" autocomplete="off">
                        <h6 class="mb-4">Check Ticket</h6>

                        <div class="form-floating mb-3">
                            <input type="number" class="form-control" id="ShowId" name="ShowId" placeholder="ShowId" readonly>
                            <label>ShowID</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="Email" placeholder="Email" required>
                            <label>Email</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="number" class="form-control" name="Otp" placeholder="Otp" required />
                            <label>OTP</label>
                        </div>

                        <button class="btn btn-primary m-1" type="submit" name="action" value="check">Check</button>
                        <button class="btn btn-outline-light m-1" type="reset">Clear</button>
                    </form>
                </div>
                <div class="container p-3">
                    <h6 class="mb-4">List Ticket</h6>
                    <table class="table table-striped table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Use Name</th>
                                <th scope="col">Film</th>
                                <th scope="col">Room</th>
                                <th scope="col">Seat</th>
                                <th scope="col">Date</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        @if (ViewBag.Tickets != null && ViewBag.Tickets.Count > 0)
                        {
                            <tbody>
                                @foreach (var ticket in ViewBag.Tickets)
                                {
                                    <tr>
                                        <td>@ticket.UserName</td>
                                        <td>@ticket.Film</td>
                                        <td>@ticket.Room</td>
                                        <td>R.@ticket.Row - C.@ticket.Col</td>
                                        <td>@ticket.Date</td>
                                        <td>
                                            <i class="fas fa-check-circle text-success"></i>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        }
                        else
                        {
                            <tbody>
                                <tr>
                                    <td colspan="6">No tickets check</td>
                                </tr>
                            </tbody>
                        }
                    </table>
                </div>
            </div>

        </div>
        <!-- Content End -->
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>

    <script src="lib/chart/chart.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
    <script src="js/datatables.js"></script>

    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>
