@using BussinessObject.Models
@{
    ViewData["Title"] = "CinemaSystem";
    int currentPage = ViewBag.CurrentPage ?? 1;
    int totalPages = ViewBag.TotalPages ?? 1;
}
<link rel="stylesheet" href="~/css/site.css" />

<div class="hanime-body__cards container-fluid">
    <div class="row">
        @if (ViewBag.Films != null)
        {
            @foreach (Film film in ViewBag.Films)
            {
                <a asp-controller="Film" asp-action="Index" asp-route-id="@film.Id" class="hanime-body__card-item col-xl-2 col-md-3 col-sm-6 col-xs-12">
                    <img class="hanime-body__card-item--thumbnail" style="object-position: center; object-fit: cover;" height="200" src="@film.ImageUrl">
                    <div class="hanime-body__card-item--body">
                        <p class="hanime-body__card-item--body--title">@film.Name</p>
                        <p class="hanime-body__card-item--body--sub">@film.ReleaseDate</p>
                    </div>
                </a>
            }
        }
        else
        {
            <p>No films available.</p>
        }
    </div>
</div>

<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        @if (currentPage > 1)
        {
            <li class="page-item">
                <a class="page-link" href="@Url.Action("Index", new { page = currentPage - 1 })">Previous</a>
            </li>
        }

        @for (int i = 1; i <= totalPages; i++)
        {
            <li class="page-item @(i == currentPage ? "active" : "")">
                <a class="page-link @(i == currentPage ? "active-page" : "")" href="@Url.Action("Index", new { page = i })">@i</a>
            </li>
        }

        @if (currentPage < totalPages)
        {
            <li class="page-item">
                <a class="page-link" href="@Url.Action("Index", new { page = currentPage + 1 })">Next</a>
            </li>
        }
    </ul>
</nav>
